extends paginaUC

block innerContent
  .uc-container
    .uc-details
      // Renderiza o formulário de upload apenas se o usuário for o owner
      if isOwner
        h3 Upload de Conteúdo
        form(action=`/upload-content/${uc.sigla}`, method='POST', enctype='multipart/form-data')
          input(type='hidden', name='ucId', value=uc._id)
          input(type='file', name='contentFile', accept='.pdf,.doc,.docx,.ppt,.pptx,.zip', required=true)
          button(type='submit') Upload

      // Listar arquivos já carregados (se aplicável)
      if uc.conteudo && uc.conteudo.length > 0
        h3 Conteúdo
        ul
          each file in uc.conteudo
            li
              a(href=`/download/${uc.sigla}/${file}`, download)= file