extends layout

block content
  .form-container
    h1 Criar Nova UC
    form(action="/ucs" method="post")
      .form-group
        label(for="sigla") Sigla:
        input(type="text" id="sigla" name="sigla" required)
      .form-group
        label(for="titulo") Título:
        input(type="text" id="titulo" name="titulo" required)
      .form-group
        label(for="docentes") Docentes:
        textarea(id="docentes" name="docentes" required placeholder="Separados por vírgula")
      .form-group
        label(for="teoricas") Horário das Aulas Teóricas:
        textarea(id="teoricas" name="teoricas" required placeholder="Separadas por vírgula")
      .form-group
        label(for="praticas") Horário das Aulas Práticas:
        textarea(id="praticas" name="praticas" required placeholder="Separadas por vírgula")
      .form-group
        label(for="avaliacao") Avaliação:
        textarea(id="avaliacao" name="avaliacao" required placeholder="Separadas por vírgula")
      .form-group
        label(for="dataTeste") Data do Teste:
        input(type="date" id="dataTeste" name="dataTeste")
      .form-group
        label(for="dataExame") Data do Exame:
        input(type="date" id="dataExame" name="dataExame")
      .form-group
        label(for="dataProjeto") Data do Projeto:
        input(type="date" id="dataProjeto" name="dataProjeto")
      button(type="submit") Adicionar UC