extends layout

block content
  .sub-nav
    input(type="text" placeholder="Pesquisar UCs")
    a(href="/favoritos")
      i.fas.fa-star Favoritos
    a(href="/criar")
      i.fas.fa-plus Adicionar UC

  .container
    each uc in uniqueUcs
      .uc-card
        h2= uc.titulo
        p Docentes: #{uc.docentes.join(', ')}
        a(href=`/ucs/${uc.sigla}`) Mais informações

  script.
    document.addEventListener('DOMContentLoaded', function() {
      const searchInput = document.querySelector('.sub-nav input[type="text"]');
      const ucsCards = document.querySelectorAll('.uc-card');
    
      searchInput.addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();
        ucsCards.forEach(card => {
          const title = card.querySelector('h2').textContent.toLowerCase();
          if (title.includes(searchTerm)) {
            card.style.display = '';
          } else {
            card.style.display = 'none';
          }
        });
      });
    });
