extends layout

block content
  h1 Lista de UCs
  .search-bar
    input(type="text" placeholder="Pesquisar nos seus cursos" id="searchInput" onkeyup="searchUCs()")
  .container#ucContainer
    each uc in ucs
      .uc-card
        h2 #{uc.titulo}
        p #{uc.docentes.join(', ')}
        a(href=`/ucs/${uc._id}`) Mais informações

  script.
    function searchUCs() {
      var input, filter, container, cards, h2, i, txtValue;
      input = document.getElementById('searchInput');
      filter = input.value.toUpperCase();
      container = document.getElementById("ucContainer");
      cards = container.getElementsByClassName('uc-card');
      for (i = 0; i < cards.length; i++) {
        h2 = cards[i].getElementsByTagName("h2")[0];
        txtValue = h2.textContent || h2.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          cards[i].style.display = "";
        } else {
          cards[i].style.display = "none";
        }
      }
    }
