doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .nav-bar
      a(href='/') Página Inicial
      a(href='/perfil') Perfil
      a(href='/welcome/logout') Terminar Sessão

    block sideNav
    block content

    .footer
      p © 2024 Treble com o Mourinho
