doctype html
html
  head
    title Log In
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    .background-blur
    a.back-button(href="/welcome") ← Voltar atrás
    .container
      h1 Inicie Sessão
      if error
        .error #{error.message}
      form(action="http://localhost:4201/welcome/login", method="post")
        div
          label(for="username") Username:
          input(type="text", id="username", name="username", required)
        div
          label(for="password") Password:
          input(type="password", id="password", name="password", required)
        div
          button(type="submit") Iniciar Sessão
    .footer Treble com o Mourinho