doctype html
html
  head
    title Welcome Page
    link(rel="stylesheet", href="/stylesheets/style.css")
  body(class="welcome-page")
      .background-blur
      .container
        h1 Bem-vindo
            a(href="/welcome/login")
             button Login
            a(href="/welcome/register")
             button Registo
